body {
    margin: 0;
    padding: 0;
}

fieldset {
    padding: 0;
    margin: 0;
}

input {
    padding-right: 128px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100vh;
}

.border {
    width: 40vw;
    padding-top: 25vh;

    background-image: url("images/background-image.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Norse', serif;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40vw;
    height: 20vh;
    max-height: 20vh;
    min-height: 9rem;

    background-color: rgba(0, 0, 0, 0.4);
}

.odin-logo {
    height: 8rem;

}

.text-logo {
    color: white;
    font-size: 6rem;
}

.form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    margin-top: 10vh;
    gap: 4rem;

    font-size: 24px;
}

.form-table {
    display: flex;
    flex-direction: column;


    border-color: transparent;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 255, .2);;
}

.form-header, .form-intro {
    margin-left: 64px;
    margin-right: 15rem;
}

.form-name, .form-info {
    padding-left: 62px;
    padding-bottom: 32px;
}

.form-name, .form-info {
    display: flex;
    flex-direction: row;
    gap: 10rem;

    border-color: transparent;
}

.form-firstname, .form-lastname,
.form-email, .form-phone {
    display: flex;
    flex-direction: column;
}

