body {
    margin: 0;
    padding: 0;

    font-family: 'Norse', serif;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    height: 100vh;
}

.border {
    width: 40vw;

    background-image: url("images/background-image.jpg");
    background-position: center;
    background-size: cover;

    padding-top: 15vh;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 40vw;
    height: 20vh;
    max-height: 20vh;
    min-height: 9rem;

    background-color: rgba(0, 0, 0, 0.4);
}

.odin-logo {
    height: 8rem;

}

.text-logo {
    color: white;
    font-size: 6rem;
}

.form {
    width: 60vw;
}

