body {
    padding: 0;
    margin: 0;


}

.site {
    display: flex;
}

.left-side  {
    display: flex;
}

.leaves-img {
    height: 100vh;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}